.section-client {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
}

.company {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: -30px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
  }
  }
  
  .card {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      
    width: calc(33.3333333333% - 30px);
}
  }
  
  .client-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    height: 92px;
    -webkit-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-icons:hover {
    border-color: var(--accent-color);
  }
  
  .client-icon {
    fill: #afb1b8;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-icons:hover .client-icon {
    fill: var(--accent-color);
  }
  
  .client-title {
    color: var(--primary-text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      letter-spacing: 1.08px;
  }
  }