
.footer {
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
  
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.footer-block {
  align-items: baseline;
  
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
   display: flex;
  }
}


.footer-flex {
  justify-content: center;
  align-items: baseline;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: start;
    margin-bottom: 0;
}
}


  .footer-right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    color: rgb(255, 255, 255);

    @media screen and (min-width: 768px) {
      margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
      align-items: start;
      margin-left: auto;
    }
  }

 
.address {
    text-align: center;
    margin-bottom: 60px;
    font-style: normal;
    // width: 231px;
    // height: 81px;
    // margin-right: 70px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-bottom: 0px;
    }
  }

  .logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .img-logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
  }
  
  .footer span {
    color: var(--white-color);
  }
  
  .footer-cta {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .footer-address {
    color: var(--white-color);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .footer-mail {
    margin-bottom: 12px;
  }

  .footer-tel {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }
  
  .footer-mail,
  .footer-tel {
    color: var(--footer-link-color);
    display: inline-block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  

  .title-icon {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  .footer-icon {
    fill: #F5F4FA;

    @media screen and (min-width: 768px) {
      margin-left: 165px;
  }

    @media screen and (min-width: 1200px) {
    margin-left: 70px;
}
  }

  .footer-icons {
    fill: #F5F4FA;
  }


  .socials {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }
  

  .items-icon:not(:last-child) {
    margin-right: 10px;
  }
  
  .link-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-social:hover,
  .link-social:focus {
    background-color: var(--accent-color);
  }
  
