.address {
    font-style: normal;
    width: 231px;
    height: 81px;
    margin-right: 70px;
  }
  
  .footer {
    background-color: var(--background-hero);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  
  .footer-address {
    color: var(--white-color);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  
  .footer-mail,
  .footer-tel {
    color: var(--footer-link-color);
    display: inline-block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .footer-mail {
    margin-bottom: 9px;
  }
  
  .title-icon {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  
  .items-icon {
    margin-right: 10px;
  }
  
  .link-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-social:hover,
  .link-social:focus {
    background-color: var(--accent-color);
  }
  
  .footer-icon {
    fill: #F5F4FA;
  }