.header {
    border: 1px solid #ECECEC;
  }
  
  .logo {
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: Raleway;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .header span {
    color: var(--logo-studio-color);
  }
  
  .logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .img-logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
  }
  
  .footer span {
    color: var(--white-color);
  }
  
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .site-nav .item + .item {
    margin-left: 50px;
  }
  
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .icon-mail,
  .icon-tel {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;
  }
  
  .header-item + .header-item {
    margin-left: 50px;
  }
  
  .site-nav .link {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .site-nav .link.current {
    color: var(--accent-color);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  
  .link.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
  }
  
  .nav-current {
    position: relative;
  }
  
  .header-link {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: fill, color;
    transition-property: fill, color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  