.team {
    background-color: var(--background-secondary-section);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
  }

  .team-list{
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
       display: flex;
       margin-left: -30px;
     }

     @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  // .team-list {
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // gap: 30px;
  // }
  
  .team .team-title {
    color: var(--primary-text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      letter-spacing: 1.08px;
  }
  }
  
  .team-card {
    // width: calc((100% - 90px) / 4);
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px){
      margin-left: 30px;
      width: calc(50% - 30px);
    }

    
  }
  // .team-card:last-child {
  //   margin-bottom: 0px;
  // }
  
  .social-link {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    -webkit-transition-property: fill, background-color;
    transition-property: fill, background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-area:hover .social-link,
  .link-area:focus .social-link {
    background-color: var(--accent-color);
    fill: #FFFFFF;
  }
  
  .link-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-transition-property: fill, background-color;
    transition-property: fill, background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-area:hover,
  .link-area:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
  }
  
  .team-box {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    // width: 270px;
    height: 168px;
  }
  
  .team .team-name {
    color: var(--primary-text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  
  .team .team-text {
    color: var(--secondary-text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;

    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
            
    // padding-right: 32px;
    // padding-left: 32px;
    // margin-top: 16px;
  }